@import 'mixins';
.page {
    position: relative;
    display: block;
    width:100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 100vh;

    &.page--scroll-overflow {
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

}